<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title></title>
        {% load staticfiles %}
      <!-- The line above tells Django to be ready to listen for static files -->

      <!--<script  type='text/javascript' src='javascript/jquery-1.11.1.min.js'>-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script  type='text/javascript' src='web.js'></script>
      <link rel="stylesheet" href="{% static 'Book_Reviews/css/bootstrap.min.css' %}"media="screen" title="no title"  charset="utf-8">
      </head>
    <body>

        <div class ="three">
            <div class="one">
            <form action="{% url 'book-reviews:process_add' %}" method="post">
                {% csrf_token %}
                {{ bookForm.as_p }}
                {{ reviewForm.as_p}}
                <input type="submit" value="Add Review"/>
            </form>
            </div>
        </div>
    </body>
