  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title></title>
        {% load staticfiles %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <!--<link rel="stylesheet" href="{% static 'ourApp/css/main.css' %}"media="screen" title="no title"  charset="utf-8">-->
      </head>
    <body>

        <form action="/renderSecrets" method="post">
            {% csrf_token %}
            {{ secretForm.as_p }}
            <input type="submit" value="Submit secret"/>
        </form>
        {% for secrets in allSecrets %} 
            {{ secrets.secretMessage }}
        {% endfor %}  

    </body>
  </html>