  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title></title>
        {% load staticfiles %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'ourApp/css/main.css' %}"media="screen" title="no title"  charset="utf-8">
      </head>
    <body>

        <form action="/messageR" method="post">
            {% csrf_token %}
            {{ messageForm.as_p }}
            <input type="submit" value="Post Message"/>
        </form>     
        {% for msg in messageBoard%}
        {{msg.messageText}}
                {% for comments in commentBoard %}  
                    {% if comments.message_id == msg.id %}
                    {{ comments.commentText }}
                    {% endif %}     
                {% endfor %}     
        <form action="/commentR" method="post">
            {% csrf_token %}
            {{ commentForm.as_p }}
        <input type="hidden" value={{msg.id}} name="msgid"/>
        <input type="submit" value="Post Comment"/>
        </form>  

        </table>
        {% endfor %}

    </body>
  </html>